<div class="sidebar-container stretch-height">
  <div class="p-5 has-text-centered title-backdrop">
      <h1 class="display-1" style="text-align: center; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; color: lightskyblue;">Sup {{username}}</h1>
      <div>
        <mat-button-toggle-group
        vertical="true"
        [(ngModel)] = "currentUrl"
        (change) = "changePage()">
        <mat-button-toggle value="" [disabled]="currentUrl == ''">
          Active users
        </mat-button-toggle>
        <mat-button-toggle value="registeredUsers" [disabled]="currentUrl == 'registerdUsers'">
          Registered users
        </mat-button-toggle>
        <mat-button-toggle value="messages" [disabled]="currentUrl == 'messages'">
          Your messages
        </mat-button-toggle>
        <mat-button-toggle value="newmessage" [disabled]="currentUrl == 'newmessage'">
          New Message
        </mat-button-toggle>
        <mat-button-toggle value="newgroupmessage" [disabled]="currentUrl == 'newgroupmessage'">
          Group Message
        </mat-button-toggle>

      </mat-button-toggle-group>
      </div>
      <div>
        <button mat-icon-button (click) = "logout()">
          <mat-icon></mat-icon>
        </button>
      </div>
  </div>
</div>
