<body>
  <form [formGroup] = "loginForm" (ngSubmit) = "logIn()">
    <div class="centered-content container columns">
      <div>
        <h1 class="is-light">Log in</h1>
      </div>
    </div>
    <div class="p-5 m-5">
      <div>
        <mat-form-field appearance="outline">
          <input matInput placeholder="Username" formControlName="username"/>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="outline">
          <input matInput placeholder="enter your password.." formControlName="password"/>
        </mat-form-field>
      </div>

      <div>
        <button mat-flat-button color="primary" type="submit">Log in</button>
      </div>
    </div>
  </form>
</body>
