<app-option-panel></app-option-panel>

<div class="container-fluid h-100">
  <div class="row justiy-content-center align-items-center" style="margin-left: 650px ;">
    <div class="col-md-4 align-self-center" style="padding-top:100px;">

    <h1 class="display-1" style="text-align: center; font-style: italic; margin-bottom: 60px;">
      Log In
  </h1>
  <form [formGroup] = "registerForm" (ngSubmit) = "register()">


    <div class="form-group mb-3">
      <label for="username" class="form-label" style="margin-right: 26px;">Username: </label>
        <input matInput #username placeholder="Username" formControlName="username"/>
    </div>
    <div class="form-group mb-3">
      <label for="password" class="form-label" style="margin-right: 30px;">Passowrd: </label>
        <input matInput placeholder="enter your password.." formControlName="password"/>
      </div>


      <div class="form-group mb-3">
        <label> <a href="login">Dont have an account?</a></label>

      </div>
      <div  class="d-grid col-6 mx-auto">
        <button  class="btn btn-info"  type="submit">Register</button>
      </div>


  </form>
</div>
</div>
</div>
